body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    overflow: hidden;
    position: relative;
    background-image: url("fondoIniciosesion.png");
    background-size: cover;         /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;   /* No la repite */
}

.CajaSesion {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
    text-align: center;
    width: 400px;
    height: 400px;
    z-index: 5;
}

.CajaSesion h1 {
    font-size: 35px;
    color: #000; /* naranja */
    margin-bottom: 20px;
}

.input-box {
  position:static;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 2px solid #a7d8ba;
  border-radius: 30px;
  background: #fff4c5;
  padding-left: 15px;
}

.input-box img.icono {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}


.input-box input {
  border: none;
  background: transparent;
  outline: none;
  padding: 10px;
  flex: 1;
  font-size: 16px;
}


.olvide {
    font-size: 0.9em;
    color: #14125b;
    margin: 10px 0;
}

.Inicio {
    background: #a6c2c6;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    margin: 15px 0;
}

.registro {
    font-size: 0.9em;
}

.registro a {
    font-weight: bold;
    text-decoration: none;
    color: #1a0049;
}