/* Corrección para centrar el botón de eliminar */
.cart-item-remove {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 24px !important;
    height: 24px !important;
    background-color: #fce4e4;
    border-radius: 50%;
    transition: all 0.3s ease;
    line-height: 0 !important;
    cursor: pointer;
    border: none;
}

.cart-item-remove:hover {
    background-color: #ffcccc;
}

.cart-item-remove span {
    color: #e74c3c;
    font-weight: bold;
    font-size: 14px;
    margin-top: -2px; /* Ajuste para centrado óptico */
}

/* Colores Globales de la Marca: #2c656d */
.btn-view, 
.btn-pay, 
.cart-total-amount, 
.product-info p strong,
#color-label-p1 {
    color: #2c656d !important;
}

.btn-pay, 
.btn-view {
    background-color: #2c656d !important;
    color: white !important;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-view:hover {
    background-color: #1e464b !important;
}

/* Estilos de los Grupos de Filtros */
.filter-group {
    background-color: #9ab4b9;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 15px;
    color: #333;
}

.filter-group h4 {
    margin-bottom: 15px;
    font-weight: bold;
}

.filter-group label {
    display: block;
    margin-bottom: 10px;
}